# async
asyncio==3.4.3
aiohttp==3.11.16
# TTS
gtts==2.5.4
pyttsx4==3.0.15
mpyg321==2.2.2
mutagen==1.47.0
pydub==0.25.1
# Transcriptor
SpeechRecognition==3.14.2
# Translator
deep_translator==1.11.4
# Recorder
pyaudio==0.2.14
sounddevice==0.5.1
soundfile==0.13.1
numpy==2.2.4
# Image
pillow==11.1.0
# Articles
readability==0.3.2
# Testing
webdriver_manager==4.0.2
selenium==4.31.0
pytest==8.3.5
pytest-json-report==1.5.0
pytest-xdist==3.6.1
# Third-party-test
cohere==5.14.2
llamaapi==0.1.36
# My AI APIs
leonardo-api==0.0.11
openai-python-api==0.0.9
ablt-python-api==0.0.6
# Discord
py-cord==2.6.1
openai==1.73.0
