# async
asyncio==3.4.3
aiohttp>=3.8.6
# TTS
gtts==2.5.1
pyttsx4==3.0.15
mpyg321==2.1.1
mutagen==1.47.0
pydub==0.25.1
# Transcriptor
SpeechRecognition==3.10.1
# Translator
deep_translator==1.11.4
# Recorder
pyaudio==0.2.14
sounddevice==0.4.6
soundfile==0.12.1
numpy==1.26.4
# Image
pillow==10.2.0
# Articles
readability==0.3.1
# Testing
webdriver_manager==4.0.1
selenium==4.17.2
pytest==8.0.0
pytest-json-report==1.5.0
pytest-xdist==3.5.0
# Third-party-test
cohere==4.46
llamaapi==0.1.36
# My AI APIs
leonardo-api==0.0.10
openai-python-api==0.0.8
ablt-python-api==0.0.4
# Discord
py-cord==2.4.1
openai==1.12.0
